header {
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-top: 160px;

}

header h1 {
    margin: 0;
    font-weight: bold;
    font-size: 65px;
    padding-bottom: 26px;

}

.MyTypist {
    margin: 0;
    font-size: 40px;

}